<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 
    // Define database names and assign default database name
    -->
    <add key="DefaultDBName" value="Cypress"/>
    <add key="Local" value="*Public/Cypress"/>
    <add key="Cypress" value="*Public/Cypress5166"/>

    <!-- 
    // Disable MS's [BrowserLink feature.](https://efficientuser.com/2017/07/06/browser-link-option-in-visual-studio/) 
    -->
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    
    <!-- 
    // Enable Forms Authentication mode.
    -->    
    <authentication mode="Forms">
        <forms loginUrl="views/login.aspx" timeout="30"/>
      <!-- 
      // The timeout value is specified in minutes. 
      // This value also determines how long the authentication cookie, if used,
      // persists.
      -->
    </authentication>
        
    <!--
    // Deny all unauthorized users from all pages unconditionally.
    -->
    <authorization>
      <deny users="?"/>
    </authorization>  
  </system.web>

 
  <!-- 
  // Unconditionally allow all users access to any pages in the 
  // 'public' folder. This provides exceptions to the rule above.
  // Add as a many of these chunks as necessary.
  -->
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>